@model LearnSite.ViewModels.SectionVideoViewModel
@using Microsoft.AspNetCore.Identity
@using LearnSite.Models
@using LearnSite.Ulitity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = Model.Videos.VideoName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>GetActionSection</h2>*@

@if (SignInManager.IsSignedIn(User))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<div class="row">
   
        <div class="col-md-8">
            <h3>@Model.Videos.VideoName</h3>
        </div>
   
</div>
<div class="row">
    <div class="col-md-8">
      
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe id="video" class="embed-responsive-item"
                            src="https://www.youtube.com/embed/@Model.Videos.VideoUrl" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                </div>
     
    </div>
    <div class="col-md-4">
        <h2>Course Sections</h2>
        <div id="divID" class="accordion">
            @foreach (var item in Model.Sections)
            {
                <a class="btn btn-block card" data-toggle="collapse" href="#collapseExample_@item.SectionNumber" role="button" aria-expanded="false" aria-controls="collapseExample_@item.SectionNumber">
                    Section @item.SectionNumber
                </a>
                <div class="collapse" id="collapseExample_@item.SectionNumber">
                    @foreach (var vids in item.Videos)
                    {
                    <div class="card card-body">
                        @using (Html.BeginForm("Index", "Video", FormMethod.Get))
                        {
                            <input type="hidden" value="@vids.Id" id="id" name="id" />
                            <input type="hidden" value="@item.Id" id="id" name="sectionId" />
                            <input type="submit" class="btn btn-block" value="@vids.VideoName" />
                        }
                    </div>
                    }
                </div>
            }
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="h1"><small>Video Description</small></div>
      
                <p class="h4">@Model.Videos.VideoDescription</p>
         
    </div>
</div>

